.counter-article {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 20%;
  align-items: center;
  border: 2px solid black;
}
.counter-article h1 {
  font-size: 30px;
}
.counter-div {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-between;
}
.counter-div button {
  width: 40%;
  font-size: 40px;
}
.reset {
  width: 50%;
  height: 5vh;
}
